# Local
.DS_Store
Icon?
*.local
*.log*

# Dist
dist/

# Node
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vite
.vite/
.cache/

# Env files
.env
.env.*

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Testing
coverage/

# TypeScript
*.tsbuildinfo
