.back {
  color: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--attention);

  margin-block: 32px;
  padding: 8px 12px;
  border: 1px solid var(--border);
  border-radius: 24px;

  transition: transform 180ms;

  &:hover {
    transform: scale(1.025);
    transform: translate(2px, 2px);
  }
}

.details {
  display: grid;
  grid-template-columns: 0.4fr 1.2fr;
  gap: 48px;
  margin-bottom: 24px;

  @media (max-width: 43rem) {
    grid-template-columns: 0.5fr 1fr;
    gap: 24px;
  }

  @media (max-width: 30rem) {
    grid-template-columns: 1fr;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  img {
    border-radius: 8px;
    width: 100%;
    height: auto;

    @media (max-width: 30rem) {
      width: 200px;
    }
  }

  &__name {
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__price {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 32px;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.nutrition {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 6px;
    text-align: left;
  }

  th,
  td {
    border-bottom: 1px solid var(--border);
  }

  tr:first-child th {
    border-bottom: 2px solid var(--black);
  }
}

.fetch-error {
  color: var(--attention);
}
