::placeholder {
  color: #8d99ae;
}

h2 {
  font-size: 1rem;
}
input,
button {
  font: inherit;
}
strong {
  font-size: 1.1rem;
}

.content-wrapper {
  max-width: 25rem;
  margin-inline: auto;
  margin-bottom: 24px;
}

.theme-switcher {
  transition: transform 180ms;
}
.theme-switcher:hover {
  transform: scale(1.05);
}
.theme-switcher:active {
  transform: scale(0.95);
}

.btn-link {
  transition:
    transform 180ms,
    opacity 180ms;
}
.btn-link__primary:hover {
  transform: scale(1.025);
  transform: translate(2px, 2px);
}
.btn-link__primary.active {
  pointer-events: none;
  transform: initial;
  opacity: 0.75;
}

.btn-link__secondary:not(:disabled):hover {
  transform: scale(1.025);
  transform: translate(2px, 2px);
}
.btn-link__secondary:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.required {
  color: var(--attention);
  font-weight: 500;
}

.label {
  display: block;
  margin-bottom: 12px;
}

.input {
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid var(--border);
  width: 100%;
  margin-bottom: 16px;
}
.input:disabled {
  background-color: var(--highlight);
}

.avatar {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-fade {
  opacity: 0;
}

.image-fade.loaded {
  transition: opacity 280ms ease-in;
  opacity: 1;
}
