.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.nav__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__list {
  display: flex;
  background-color: var(--light);
  border-radius: 24px;
}
.nav__list li:nth-child(2) {
  min-width: 5rem;
  text-align: center;
}
.nav__list a {
  padding: 8px 12px;
}
.nav__list a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2.5px;
  background-color: #000;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 180ms;
}
.nav__list a:not(.active):hover::after,
.nav__list a.active::after {
  transform: scaleX(1);
}

@media (max-width: 43rem) {
  .nav {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 30rem) {
  .nav {
    padding-block: 24px;
  }

  .nav__content {
    flex-direction: column;
    gap: 0;
  }
}
