.product {
  padding: 16px;
  transition: background-color 240ms;

  &:hover {
    border-radius: 4px;
    background-color: var(--highlight);
  }

  img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;

    opacity: 0;
    transition: opacity 180ms ease-in;

    &.loaded {
      opacity: 1;
    }
  }

  a {
    color: inherit;
  }

  &__price {
    font-size: 0.9rem;
  }
}
